@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300;1,400&display=swap');



body{
    background-color:white;
    font-family: 'Roboto', sans-serif;

    background-image: url(https://th.bing.com/th/id/R.4c44ffb3128ea2386e94675af604a8e4?rik=jBrxZQEnw7SseA&pid=ImgRaw&r=0)
}







h1,h2{
    
color: whitesmoke;
}

p{
    color: whitesmoke;
}

.header{
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}


*{
    margin: 0%;
}

img{

    display: block;
}

section {
    display: flex;
    justify-content: space-between;
}

.left-side h2{
    font-size: 72px;
    
}
.left-side h2 span{
    color: orange;
}

nav{
    display: flex;
    background-color: red;
    flex-basis: 40%;
    justify-content: space-around;

    
    
}
